body {
  background-color: #080808;
  color: #fbfbfb;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 1.25;
}

main {
  padding: 36px 1.5em;
}

.theorems {
  margin: 1.5em;
}

.theorem {
  margin: 4px 0;
}

main p {
  margin: 0;
  text-align: center;
}

a {
  color: #fbfbfb;
}

.∅ {
  color: #fbfbfb;
  font-size: 96px;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}
